<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pinterest Collages</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
  </head>

  <body>
    <div class="container">
      
      <div class="hero-unit">
	<img src="static/img/Pinterest_Logo.png">
	<h1>Collages</h1>
	<div class="clear"></div>
	<p>Create collages out of Pinterest images to use as wallpaper for your computer, iPhone, or iPad. Simply enter the username of any Pinterest user to begin.</p>
      </div>

      <form class="well form-horizontal">

	<fieldset>
	  <div class="control-group">
	    <label class="control-label" for="user">Pinterest user:</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="user">
	      <p class="help-inline"></p>
	    </div>
	  </div>
	  <div id="form-remainder">
	    <div class="control-group" id="board-select-div">
	      <label class="control-label" for="board-select">Board:</label>
	      <div class="controls">
		<select id="board-select">							
		</select>
	      </div>
	    </div>
	    <div class="control-group" id="template-select-div">
	      <label class="control-label" for="template-select">Device:</label>
	      <div class="controls">
		<select id="template-select">
		  <option value="monitor">Monitor</option>
		  <option value="iphone">iPhone 3G/3GS</option>
		  <option value="iphone4">iPhone 4</option>
		  <option value="ipad">iPad</option>
		  <option value="ipad3">iPad 3</option>
		</select>
	      </div>
	    </div>
	    <div class="control-group" id="resolution-div">
	      <label class="control-label">Screen resolution:</label>
	      <Div class="controls">
  		<input type="text" class="input-small" placeholder="Width" id="width">
  		<input type="text" class="input-small" placeholder="Height" id="height">
  		<p class="help-inline"></p>
	      </div>
	    </div>
	    <div class="form-actions">
	      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
	      <span id="loading-message" class="help-block"></span>
	    </div>
	  </div>
	</fieldset>
      </form>
      <div id="form-alert">
	<!--<a class="close" data-dismiss="alert">×</a>-->
	<span class="message"></span>
      </div>
      <div id="collage">
      </div>
      
      <!--
	  <footer>
	    <p>&copy; Company 2012</p>
	  </footer>
	  -->
      
    </div> <!-- /container -->
    
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.custom.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script id="board-select-option" type="text/x-jquery-tmpl">
      <option value="${url}">${name}</option>
    </script>
    <script src="static/js/script.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
